<!DOCTYPE html>
	<head>
		<title>Histórico - NO CÉU TEMPÃO</title>
		<link rel="icon" type="image/jpg" href="logo.jpg"/>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="UTF-8" author="Amilton Fontoura de Camargo Junior, Carlos Henrique dos Santos e Tiago Pagotto" description="Trabalho de estação meteorológica ministrado na disciplina de Oficina de Integração 2">

	</head>

	<body>
		
	</body>

	<footer>
		<p id= "info"> © NO CÉU TEMPÃO<br>
				Trabalho ministrado na disciplina de Oficina de Integração 2 
		</p>
	</footer>

</html>